.bgimg {
    opacity: 0.5;
    width: 100%;

    text-align: center;

    position: absolute;
    top: 180px;
    z-index: -9;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}

@media screen and (max-width: 945px) {
    .bgimg {
        top: 180px;

    }
}