#title {
    font-family: 'Archivo', sans-serif;
    font-size: 3em;
    text-align: center;



}


@media(max-width: 1013px) {
    #title {

        font-size: 1em;
        padding-bottom: 20px;
    }
}