#links {
    padding-top: 32px;
    color: white;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 0px;
    background-color: black;


}

.link-hov {
    color: white;
    text-decoration: none;


}

.link-hov:hover {

    color: yellow;
}

.pipe {
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: absolute;
    top: 60px;
    right: 3%;
    width: 32px;
    height: 32px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom,
            white, white 20%,
            black 20%, black 40%,
            white 40%, white 60%,
            black 60%, black 80%,
            white 80%, white 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #FAF9F6;
    transition: 0.3s;
    box-sizing: border-box;
    text-align: center;


}


#hamburger-menu ul {
    padding-inline-start: 10px;

}

#hamburger-menu li {
    list-style-type: none;
    line-height: 5rem;

}

#hamburger-menu a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: none;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
    padding-top: 15%;
    text-align: center;

}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.6;
}


@media screen and (max-width: 945px) {
    .link-hov {
        display: none;

    }

    .pipe {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }
}

@media screen and (max-width: 945px) {
    #hamburger-menu {
        top: 84px;
        height: 30px;
        width: 30px;
    }

    #home {
        font-size: 1.3em;
    }
}


/*
@media(max-width: 1013px) 
    #links {
        margin-top: 18px;
        margin-bottom: 0;
        margin-right: 40px;

    }

    .link-hov {
        display: grid;
        font-size: .7em;
    }

    .pipe {
        display: none;
    }
}*/