.carousel-div {
    display: flex;


}


.alice-carousel {
    position: relative;
    width: 70%;

    direction: ltr;
    text-align: center;
    z-index: -8;
    padding-top: 40px;


}

.item {
    min-width: 12em;
}

.image {
    max-width: 80%;

}


@media screen and (max-width: 800px) {



    .image {

        max-height: 95%;
    }

    .alice-carousel {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;


    }

}