.carousel-div {
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.alice-carousel {
    position: relative;
    width: 70%;

    direction: ltr;
    text-align: center;
    z-index: -8;
    padding-top: 90px;


}


.image {
    max-width: 80%;



}



@media screen and (max-width: 800px) {


    .alice-carousel {
        position: relative;
        padding-top: 80px;

        margin-top: 10%;
    }

    .image {
        max-width: 90%;
    }
}